In [4]:
from sklearn.datasets import load_boston
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import pandas as pd
import numpy as np

In [43]:
# Gather data

boston_dataset = load_boston()
data = pd.DataFrame(data= boston_dataset.data, columns=boston_dataset.feature_names)
features = data.drop(['INDUS','AGE'],axis=1)

log_prices= np.log(boston_dataset.target)
target = pd.DataFrame(log_prices, columns=['PRICE'])
features.head()

/Applications/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

,CRIM,ZN,CHAS,NOX,RM,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,0.0,0.538,6.575,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,0.0,0.469,6.421,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,0.0,0.469,7.185,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,0.0,0.458,6.998,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,0.0,0.458,7.147,6.0622,3.0,222.0,18.7,396.90,5.33

In [30]:
property_stats = features.mean().values.reshape(1,11)

In [35]:
# store regression 
regr = LinearRegression().fit(features,target)
fitted_vals = regr.predict(features)

MSE = mean_squared_error(target, fitted_vals)
RMSE = np.sqrt(MSE)

In [51]:
# estimate log house prices for a specifir property
def get_log_estimate(nr_rooms,
                    student_per_classroom,
                    next_to_river = False,
                    high_confidence = True):
    
    # configuring property
    property_stats[0][4] = nr_rooms
    property_stats[0][8] = student_per_classroom
    
    if next_to_river:
        property_stats[0][2] = 1
    else:
        property_stats[0][2] = 0
   
    
    # make predictions
    log_estimate = regr.predict(property_stats)[0][0]
    
    # calc confidence
    if high_confidence:
        upper_bound = log_estimate + 2*RMSE
        lower_bound = log_estimate - 2*RMSE
        interval = 95
        
        confidence = 0.95
    else:
        upper_bound = log_estimate + RMSE
        lower_bound = log_estimate - RMSE
        interval = 68
        
    return log_estimate, upper_bound, lower_bound, interval

In [56]:
ZILLOW = 583.3
SCALE_FACTOR = ZILLOW / (np.median(boston_dataset.target))
SCALE_FACTOR

27.514150943396224

In [70]:
def get_dollar_estimate(rm,
                    ptratio,
                    chas = False,
                    large_range = True):
    """Estimate the price of a property in Boston
    Keyword arguments:
    rm -- number of rooms in the property
    ptratio -- number of students per teacher in the classroom for the school in the area
    chas -- True if the house near the river
    large_range -- True 95% confidence value 
        
    """
    if rm < 1 or ptratio < 1:
        print('That is unrealistic. Try again')
        return
    log_est, upper, lower, conf = get_log_estimate(rm, ptratio,chas, large_range)
    
    #convert to today's dollars
    dollar_est = np.e**log_est *1000 *SCALE_FACTOR
    dollar_hi = np.e**upper *1000 *SCALE_FACTOR
    dollar_low = np.e**lower *1000 *SCALE_FACTOR
    
    #round the dollarvaluesto nearest thousand
    rounded_est = np.around(dollar_est, -3)
    rounded_hi = np.around(dollar_hi, -3)
    rounded_low = np.around(dollar_low, -3)
    
    print(f'The estimated property value is {rounded_est}.')
    print(f'At {conf}% confidence the valuaton range is')
    print(f'USD{rounded_low} at the lower end to USD {rounded_hi} at the high end.')

In [71]:
get_dollar_estimate(6,15,True)

The estimated property value is 700000.0.
At 95% confidence the valuaton range is
USD481000.0 at the lower end to USD 1018000.0 at the high end.

/Applications/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(